.login-container {
    display: flex;
    align-items: center;
    height: 100%;
    background-color: #fff;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../../Images/LoginImages/login_bg.svg');
}

.login-left {
    flex: 1;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-size: cover;
    background-position: center;
    color: white;
}

.login-left {
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;

}

.login-left-header {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 5rem;
}

.login-left-header h1 {
    margin: 0;
}

.login-left-build-text {
    margin: 0;
}

.logo {
    width: 50px;
    height: 50px;
}

.login-left p {
    font-size: 1rem;
}

.login-right {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 100%;
}

.login-form-container {
    position: absolute;
    right: 120px;
    bottom: 0;
    width: 350px;
    padding: 2rem 3rem;
    background-color: #fff;
    border-radius: 20px;
    text-align: left;
} 

.login-form-title {
    font-size: 0.8rem;
    font-weight: 600;
    margin: 0;
    margin-bottom: 0.5rem;
}

.login-form-subtitle {
    font-size: 1.5rem;
    font-weight: 600;
   margin: 0;
   margin-bottom: 1.5rem;
}